<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js tutorial</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>Hello, fish vue! <i class="fa fa-apple"></i></h1>
      </div>
      <div id="app1">
        {{message}}
        <br />
        {{greeting}}
      </div>
      <div id="app2">
        <h3  v-if="show" id="myHead">Does this heading show.</h3>
        <button class='btn btn-primary' id="showBtn" v-on:click="show = show? false: true">Toggle Heading</button>
      </div>
      <div id="app3">
        <ul v-for="t in todos">
          <li>{{t.text}}</li>
        </ul>
      </div>
      <div id="app4">
        <div v-for="fishList in fishData">
          <h3>{{fishList.title}}</h3>
          <ul v-for="fish in fishList.data">
            <li>{{fish.type}}</li>
          </ul>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
